numpy
pandas
scikit-learn
scikit-image
opencv-python
scipy
matplotlib
ipympl
mpl_interactions
ipython
ipykernel
astropy
seaborn
bokeh
xlsxwriter
openpyxl
sympy
networkx
requests
statsmodels
pillow
peakutils
mne
ecomplexity
geopandas
igraph
dask